<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToratEmet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToratEmet.Properties.Settings>
            <setting name="MainFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ToratEmetParentFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExternalFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFileControlLastSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFileWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HtmlFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="HtmlFontSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShemHashemDisplayOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchExplorerTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BusyIndexing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchMethodComboIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseArmaicDictionary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSettingsTrigger" serializeAs="String">
                <value />
            </setting>
            <setting name="DockPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="ResetShotcuts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatesDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOpenLastSessionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSessionSelectedTab" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateFileInfo" serializeAs="String">
                <value>Fri, 12 Apr 2024 01:31:11 GMT</value>
            </setting>
            <setting name="DictionaryWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
        </ToratEmet.Properties.Settings>
    </userSettings>
</configuration>